// SCSS Mixins

// @include breakpoint(phone);
@mixin breakpoint($point) {
	@if $point == laptop {
		@media (max-width: 1100px) { @content ; }
	}
	@else if $point == tablet {
		@media (max-width: 768px) { @content ; }
	}
	@else if $point == phone {
		@media (max-width: 480px) { @content ; }
	}
}

// @include clearfix; 
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// @include border-radius(5px);
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// @include border-right-radius(5px);
@mixin border-right-radius($radius) {
	-webkit-border-bottom-right-radius: $radius;
	border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius;
	background-clip: padding-box;
}

// @include border-left-radius(5px);
@mixin border-left-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius;
	background-clip: padding-box;
}

// @include border-top-radius(5px);
@mixin border-top-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

// @include border-bottom-radius(5px);
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    background-clip: padding-box;
}

// @include background-size(cover);
@mixin background-size($type) {
	-webkit-background-size: $type;
	-moz-background-size: $type;
	-o-background-size: $type;
	background-size: $type;
}

// @include background-gradient(black, 0%, white, 100%);
@mixin background-gradient($leftColor, $leftPercent, $rightColor, $rightPercent) {
	background: -moz-linear-gradient(left,  $leftColor $leftPercent, $rightColor $rightPercent); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  $leftColor $leftPercent,$rightColor $rightPercent); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  $leftColor $leftPercent,$rightColor $rightPercent); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$leftColor', endColorstr='$rightColor',GradientType=1 ); /* IE6-9 */
}

// @include gradient-tool(rgba(0,0,0,0), rgba(0,0,0,1));
@mixin gradient-tool($color-from: rgba(255, 255, 255, 0), $color-to: rgba(255, 255, 255, 1)) {
    background: -webkit-linear-gradient(
                    $color-from 0%,
                    $color-to 100%
    );
    background: -moz-linear-gradient(
                    $color-from 0%,
                    $color-to 100%
    );
    background: -o-linear-gradient(
                    $color-from 0%,
                    $color-to 100%
    );
    background: -ms-linear-gradient(
                    $color-from 0%,
                    $color-to 100%
    );
    background: linear-gradient(
                    $color-from 0%,
                    $color-to 100%
    );
}
@mixin background-gradient-vertical($topColor, $topPercent, $botColor, $botPercent) {
    background: -moz-linear-gradient(0deg,  $topColor $topPercent, $botColor $botPercent); /* FF3.6-15 */
    background: -webkit-linear-gradient(0deg,  $topColor $topPercent,$botColor $botPercent); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(0deg, $topColor $topPercent,$botColor $botPercent); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$topColor', endColorstr='$botColor',GradientType=1 ); /* IE6-9 */
}

// @include center() - centers vertically and horizontally
// @include center(vert) - centers vertically
// @include center(horiz) - centers horizontally
@mixin center($which:both) { // vert or horiz
	position:absolute;
	@if $which == vert {
		top:50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	@else if $which == horiz {
		left:50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	@else{
		left:50%;
		top:50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}

// @include box-shadow(0, 0, 8px, 0, rgba(0,0,0,.8));
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $spread: 1px, $color: #CCC, $inset: false) {
	@if $inset {
		-webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
		-moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
		box-shadow: inset $horizontal $vertical $blur $spread $color;
	}
	@else {
		-webkit-box-shadow: $horizontal $vertical $blur $spread $color;
		-moz-box-shadow: $horizontal $vertical $blur $spread $color;
		box-shadow: $horizontal $vertical $blur $spread $color;
	}
}

// @include shadow-button(#7AD9FF, #5597b2, 20px, 10px);
@mixin shadow-button($color, $shadow-color, $shadow-depth, $click-depth) {
	background-color: $color;
	position: relative;
	@include box-shadow(0, $shadow-depth, 0, 0, $shadow-color);

	&:hover{
		background-color: lighten($color, 2%);
		@include box-shadow(0, $shadow-depth, 0, 0, lighten($shadow-color, 3%));
	}

	&:active{
		top: $click-depth;
		@include box-shadow(0, ($shadow-depth - $click-depth), 0, 0, $shadow-color);
	}
}

// @include top-inner-shadow;
@mixin top-inner-shadow(){
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		@include box-shadow(0, 0, 8px, 0, rgba(0,0,0,.6));
	}
}

// @include transition($property, $duration, $ease);
@mixin transition($property, $duration, $ease){
	-webkit-transition: $property $duration $ease;
	-moz-transition: $property $duration $ease;
	-o-transition: $property $duration $ease;
	transition: $property $duration $ease;
}

// @include tooltip(3, 130px, black, white, true);
// Note: must be placed on a relative or absolutely positioned element, with a div.tooltip inside containing text

@mixin tooltip($rows-of-text:2, $width:150px, $bg-color:black, $color:white, $displayTitle:true){
	&:hover div.tooltip {
		display: block;
	}

	div.tooltip {
		display: none;
		position: absolute;
		color: $color;
		background: $bg-color;
		opacity: .75;
		text-align: left;
		padding: 8px 6px 10px;
		line-height: 15px;
		font-size: 12px;
		font-weight: 300;
		width: $width;
		top: -($rows-of-text*15px + 30px);
		left: -25px;
		z-index: 999;

		@if ($displayTitle == true) {
			&:before {
				content: 'tip';
				display: inline-block;
				position: absolute;
				background: #000;
				top: -17px;
				padding: 0px 5px 1px;
				left: 0;
				font-size: 14px;
				font-family: Times New Roman;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 42px;
			margin-left: -8px;
			width: 0;
			height: 0;
			border-top: 11px solid $bg-color;
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
		}
	}
}

@mixin reset-text() {
	font-family: $lato;
	// We deliberately do NOT reset font-size.
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.428571429;
	text-align: left; // Fallback for where `start` is not supported
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}

// @include opacity($opacity);
@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: alpha(opacity=$opacity-ie);
}

// @include appearance($value);
@mixin appearance($value){
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;
}
//This is used for tooltips to reset texts.
@mixin reset-text() {
  font-family: $lato;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.428571429;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
}

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;

  hr {
    border-top-color: darken($border, 5%);
  }
  .alert-link {
    color: darken($body-color, 10%);
  }
}